.modal .nav {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.modal .nav-link {
    background-color: #98ff98;
    color: black;
    padding: 15px;
    font-weight: lighter;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.modal-title {
    margin-left: auto;
    font-size: 35px;
    padding-left: 20px;
}

.modal .nav-item:first-child .nav-link{
    margin-left: 0;
}

.modal .nav-link:hover{
    background-color: #69b369;
}

.modal .nav-link.active {
    background-color: #72c572;
    color: black;
    box-shadow: 0 0 0 4px black;
}

.modal-foot {
    background-color: #0a042b !important;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.modal-foot .call{
    color: rgb(236, 72, 72);
}

.modal-foot .viber-desktop, 
.modal-foot .viber-mobile {
    color: #7360f2;
    animation: viber-color 0.5s infinite alternate linear;
} 

.modal-foot .viber-desktop:hover, 
.modal-foot .viber-mobile:hover {
    color: #5644d1;
} 

.modal-foot .telegram-message {
    margin-left: 10px;
    animation: telegram-color 0.5s infinite alternate linear;
}

.service-group {
    text-align: center;
}

.service-group > div {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 23%;
}

.service-group img {
    width: 150px;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.service-group .card {
    height: 550px;
}

.service-group .card-img-top {
    width: 100px;
}

.service-group .card-title {
    font-size: 22px;
    font-weight: bold;
}

.service-group .prices {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.service-group .prices li{
    border-bottom: 2px solid black;
    width: 170px;
    margin: 15px auto;
    white-space: pre;
}

#pills-instagram-comments .card {
    height: 600px
}

.service-group .prices div {
    margin-bottom: 8px;
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 5px;
}

.service-group .prices div i{
    font-weight: bolder;
    font-size: 18px;
}





@media (max-width: 1378px) {
    .modal-foot .message {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .modal-foot .fa-viber {
        margin-left: 10px;
    }

    .modal-foot .fa-telegram,
    .modal-foot .fa-viber {
        font-size: 50px;
    }

    .modal-foot p:first-of-type {
        padding: 0;
        margin: 0;
    }

    .modal .nav-link {
        padding: 8px;
        margin-bottom: 3px;
    }

    .modal .nav-link.active {
        box-shadow: 0 0 0 2px black;
    }
}

@media (min-width: 1440px) {
    .modal-foot .fa-telegram,
    .modal-foot .fa-viber {
        font-size: 60px;
    }

    .modal-foot .call {
        display: block;
    }
}

@media (min-width: 1200px) {
    .modal-foot .call {
        font-size: 25px;
    }
}

@media (max-width: 1200px) {
    .service-group > div {
        display: block;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .modal-foot {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .modal-foot > p {
        width: 100%;
    }

    .modal-foot p {
        font-size: 25px;
    }
}