body {
    font-size: 16px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

hr {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.815);
    border: none;
}

.heading {
    font-size: 50px;
}

#mainNav {
    width: 100%;
    z-index: 99;
    background-color: #0a042b;
    position: fixed;
    transition: 0.3s;
    padding: 0 5px 0 10px;
}

#mainNav .logo {
    width: 50px;
    margin-right: 7px;
}

#mainNav .nav-link {
    color: snow;
    font-size: 19px;
    font-weight: lighter;
    line-height: 75px;
    transition: 0.1s;
    padding-top: 0;
    padding-bottom: 0;
}

#mainNav .nav-link:hover {
    color: black;
    background-color: whitesmoke;
}

.emoji-bg {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
}

.emoji1-bg {
    top: 60%;
    right: 7%;
    background-image: url("../img/emoji1-bg.png");
    animation: appears 3s alternate infinite;
}

.welcome-block {
    position: relative;
    color: white;
    padding-top: 150px;
    padding-bottom: 100px;
}

.welcome-block .lead {
    font-size: 30px;
    margin: 0;
}

.welcome-block h2,
.welcome-block .lead {
    font-weight: bold;
    color: white;
}

.welcome-block h1 {
    font-size: 60px;
    padding-top: 10px;
    margin-bottom: 0;
}

.services {
    margin-top: 100px;
}

.services .row {
    margin-top: 30px;
}

.services .main-card {
    width: 48%;
    margin-bottom: 70px;
    font-weight: lighter;
    background-color: transparent;
    border: none;
    height: 350px;
}

.services aside {
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}

.btn:focus, .btn:active {
    box-shadow: none;
}

.main-card h5 {
    display: flex;
    justify-content: center;
}

.main-card .title {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 25px;
}

.main-card button {
    margin-top: 30px;
}

.main-card .prices-btn {
    padding: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 100px;
    font-size: 18px;
    font-weight: 600;
}


.main-card .card-body {
    padding-top: 50px;
}

.main-card .card-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100px;
    font-size: 18px;
    padding: 0;
    font-weight: 600;
}

.main-card .card-text li:first-child::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url("../img/subscribe.png");
    background-size: 100px;
}

.main-card .card-text li:nth-child(2) {
    text-align: center;
}

.main-card .card-text li:nth-child(2)::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url("../img/heart.png");
    background-repeat: no-repeat;
}

.main-card .card-text li:nth-child(3)::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url("../img/comment.png");
}

.main-card .card-text li:nth-child(4)::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url("../img/views.png");
}

.instagram-card {
    color: black;
}

.instagram-card .card-header{
    background-color: #f9dd24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.instagram-card .card-body{
    background-color: #f9dd243d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.instagram-card .prices-btn {
    background-color: #f9dd24;
}

.instagram-card .prices-btn:hover {
    background-color: #c9b21d;
}

.facebook-card {
    align-self: flex-end;
    color: rgb(242, 248, 217);
}

.facebook-card .card-header{
    background-color: #191970;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.facebook-card .card-body{
    background-color: #1919703d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.facebook-card .prices-btn {
    background-color: #191970;
    color: white;
}

.facebook-card .prices-btn:hover {
    background-color: #11114b;
}

.telegram-card {
    color: whitesmoke;
}

.telegram-card .card-header{
    background-color:#008080;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.telegram-card .card-body{
    background-color: #00808036;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.telegram-card .prices-btn {
    background-color: #008080;
    color: white;
}

.telegram-card .prices-btn:hover {
    background-color: #015757;
}


.container-75 {
    margin: 0 auto;
    width: 75%;
}

.advantages {
    margin-top: 100px;
    margin-bottom: 100px;
}

.advantages img {
    max-width: 200px;
    margin: 0 auto;
}

.advantages-group-item {
    background-color: transparent;
    border: none;
    margin-top: 50px;
}

.advantages .card-title {
    font-size: 43px !important;
}

.advantages .card-text {
    font-size: 20px !important;
}

.reviews {
    margin-bottom: 100px;
}

.reviews img {
    width: 300px;
    height: 600px;
    border-radius: 50px;
}

.slider {
    background-color: rgba(128, 128, 128, 0.192) !important;
    border-radius: 30px;
}

.reviews .carousel-item {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reviews .carousel-indicators {
    position: relative;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li[data-target="#slides"] {
    filter: invert(100%);
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
}

footer {
    height: 250px;
    color: white;
    width: 100%;
    background-color: #0a042b;
}

footer .container-75 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}



footer .logo {
    width: 150px;
    height: 150px;
    position: relative;
}

footer .logo img{
    width: 150px;
    height: 150px;
    transition: 1.5s;
}

footer .goodbye-block {
    margin-left: 70px;
}

footer .goodbye-block p{
    font-size: 70px;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

footer .logo .logo-name {
    transition: 1.5s;
}

footer .logo .bonus-message {
    top: 100%;
    transition: 1.5s;
    transform: scale(0);
}

footer .logo img:hover {
    transform: scale(0.3) rotate(360deg);
}

footer .logo img:hover ~ .logo-name{
    transform: scale(0);
}

footer .logo img:hover ~ .bonus-message{
    transform: scale(1) translateY(-30px);
    background-color: red;
}

footer .call{
    font-size: 25px;
}

footer .social a {
    transition: 0.2s;
}

.fa-telegram,
.fa-viber {
    font-size: 50px;
}

footer .social a:hover {
    filter: brightness(0.5);
}

#contacts a {
    color: white !important;
}

footer .social {
    margin-top: 20px;
}

.footer-telegram {
    margin-left: 30px;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 25px;
    background-color: transparent;
    background-image: url("../img/up.png");
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 50px;
    height: 50px;
    background-size: 50px;
    transition: 0.5s;
}
  
#myBtn:hover {
    transform: scale(1.1);
}











@media (max-width: 1378px) {
    .welcome-block .lead {
        font-size: 20px;
    }
    
    .welcome-block h1 {
        font-size: 40px;
        padding-top: 10px;
        margin-bottom: 0;
    }
    
    .welcome-logo {
        animation: easy-down 2s infinite alternate linear;
        width: 100px;
    }

    .welcome-block a img {
        margin-top: 100px;
    }

    .main-card .card-text li:nth-child(1)::before,
    .main-card .card-text li:nth-child(2)::before,
    .main-card .card-text li:nth-child(3)::before,
    .main-card .card-text li:nth-child(4)::before {
        width: 70px;
        height: 70px;
        background-size: 70px;
    }

    .main-card .card-text li {
        font-size: 14px;
    }

    .advantages .card-title {
        font-size: 30px !important;
    }

    footer .goodbye-block p{
        display: none;
    }
}

@media (max-width: 991px) {
    #mainNav .nav-link {
        text-align: center;
    }

    #mainNav .navbar-nav {
        width: 100%;
    }

    .navbar-toggler:focus, .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

}

@media (max-width: 1000px) {
    .viber-desktop {
        display: none;
    }
    .viber-mobile {
        display: inline-block;
    }
}

@media (min-width: 1001px) {
    .viber-desktop {
        display: inline-block;
    }
    .viber-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .heading {
        font-size: 40px;
    }

    .services .main-card {
        width: 100%;
        margin-bottom: 0;
    }

    .services aside {
        margin-top: 0;
        margin-bottom: 70px;
    }

    .instagram-card {
        order: 1;
    }
    .instagram-description {
        order: 2;
    }
    .facebook-card {
        order: 3;
    }
    .facebook-description {
        order: 4;
    }
    .telegram-card {
        order: 5;
    }
    .telegram-description {
        order: 6;
    }

    #instagramModal .down-arrow {
        bottom: 40%;
    }

    #myBtn {
        bottom: 6%;
        right: 3%;
        width: 35px;
        height: 35px;
        background-size: 35px;
    }

    footer .call{
        font-size: 20px;
    }

    footer .logo {
        width: 100px;
        height: 100px;
    }
    
    footer .logo img{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 400px) {
    .main-card .card-text li:nth-child(1)::before,
    .main-card .card-text li:nth-child(2)::before,
    .main-card .card-text li:nth-child(3)::before,
    .main-card .card-text li:nth-child(4)::before {
        width: 55px;
        height: 55px;
        background-size: 55px;
    }

    .main-card .card-text li {
        font-size: 12px;
    }
}

