@keyframes down {
    to {
        transform: translateY(15px);
    }
}

@keyframes appears {
    to {
        opacity: 1;
        transform: translateY(-30px);
    }
}

body {
    font-size: 16px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    font-family: 'Vollkorn', serif;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

hr {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.815);
    border: none;
}

.heading {
    font-size: 50px;
}

#mainNav {
    width: 100%;
    z-index: 99;
    min-height: 75px;
    background-color: #100000;
}

#mainNav .logo {
    width: 50px;
}

#mainNav .nav-link {
    color: snow;
    font-size: 19px;
    font-weight: lighter;
}

#mainNav .nav-link:hover {
    color: rgb(150, 198, 226);
}

.emoji-bg {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-repeat: no-repeat;
}

.emoji1-bg {
    top: 60%;
    right: 7%;
    background-image: url("../img/emoji1-bg.png");
    animation: appears 3s alternate infinite;
}

.emoji2-bg {
    top: 80%;
    right: 15%;
    background-image: url("../img/emoji2-bg.png");
    animation: appears 1.2s alternate infinite;
}

.emoji3-bg {
    top: 15%;
    left: 7%;
    background-image: url("../img/emoji3-bg.png");
    animation: appears 1.8s alternate infinite;
}

.emoji4-bg {
    top: 35%;
    left: 15%;
    background-image: url("../img/emoji4-bg.png");
    animation: appears 3s alternate infinite;
}

.emoji5-bg {
    top: 55%;
    left: 7%;
    background-image: url("../img/emoji5-bg.png");
    animation: appears 2.2s alternate infinite;
}

.emoji6-bg {
    top: 75%;
    left: 15%;
    background-image: url("../img/emoji6-bg.png");
    animation: appears 1.6s alternate infinite;
}

.emoji7-bg {
    top: 20%;
    right: 7%;
    background-image: url("../img/emoji7-bg.png");
    animation: appears 1.5s alternate infinite;
}

.emoji8-bg {
    top: 40%;
    right: 15%;
    background-image: url("../img/emoji8-bg.png");
    animation: appears 2s alternate infinite;
}

.welcome-block {
    position: relative;
    color: white;
    padding-top: 300px;
}

.welcome-block a img {
    animation: down 0.5s infinite alternate ease-in;
    width: 40px;
    margin-top: 270px;
}

.services {
    margin-top: 100px;
}

.services .row {
    margin-top: 30px;
}

.services .container {
    position: relative;
    margin-top: 50px;
}


.services .main-card {
    width: 48%;
    margin-bottom: 70px;
    font-weight: lighter;
    background-color: transparent;
    border: none;
    height: 350px;
}

.services aside {
    margin-top: 35px;
    font-size: 20px;
}

.btn:focus, .btn:active {
    box-shadow: none;
}

.main-card h5 {
    display: flex;
    justify-content: center;
}

.main-card .title {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 25px;
}

.main-card button {
    margin-top: 30px;
}

.main-card .prices-btn {
    padding: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: 100px;
}

.main-card .card-body {
    padding-top: 50px;
}

.main-card .card-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100px;
    font-size: 18px;
    padding: 0;
}

.main-card .card-text li:first-child::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-image: url("../img/subscribe.png");
    background-size: 100px;
}

.main-card .card-text li:nth-child(2)::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url("../img/heart.png");
    background-repeat: no-repeat;
}

.main-card .card-text li:nth-child(3)::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-size: 100px;
    background-image: url("../img/views.png");
}

.instagram-card {
    color: black;
}

.instagram-card .card-header{
    background-color: #f9dd24;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.instagram-card .card-body{
    background-color: #f9dd2450;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.instagram-card .prices-btn {
    background-color: #f9dd24;
}

.instagram-card .prices-btn:hover {
    background-color: #c9b21d;
}

.facebook-card {
    align-self: flex-end;
    color: rgb(242, 248, 217);
}

.facebook-card .card-header{
    background-color: #02afae;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.facebook-card .card-body{
    background-color: #02afaf48;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.facebook-card .prices-btn {
    background-color: #02afae;
    color: white;
}

.telegram-card {
    color: whitesmoke;
}

.telegram-card .card-header{
    background-color:#612697;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.telegram-card .card-body{
    background-color: #60269759;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.telegram-card .prices-btn {
    background-color: #612697;
    color: white;
}

.service-group img {
    width: 150px;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.service-group .card {
    height: 550px;
}

.service-group table {
    margin: 0 auto;
}

.service-group table td{
    border-bottom: 2px solid black;
    padding: 10px;
}

.modal .nav {
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
}

.modal .nav-link {
    background-color: #c73434;
    color: black;
    padding: 15px;
    font-weight: lighter;
    margin-left: 10px;
}

.modal .nav-link.active {
    background-color: #af1c1c;
    color: black;
}

.modal-foot {
    border-top: 1px solid black;
    font-size: 18px;
    padding: 10px;
}

.modal-foot .call{
    color: black;
}

.modal-foot .viber-desktop, 
.modal-foot .viber-mobile {
    color: #7360f2;
} 

.advantages-container {
    margin: 0 auto;
    width: 75%;
}

.advantages {
    margin-top: 50px;
}

.advantages img {
    max-width: 200px;
    margin: 0 auto;
}

.advantages-group-item {
    background-color: transparent;
    border: none;
    margin-top: 50px;
}

.advantages .card-title {
    font-size: 43px;
}



.reviews .card {
    margin: 0 auto;
}

.reviews img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    height: 200px;
    color: white;
    width: 100%;
}

footer .logo {
    width: 150px;
    height: 150px;
    align-self: flex-end;
}

footer .logo img{
    width: 150px;
    height: 150px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 25px;
    background-color: white;
    background-image: url("../img/up.png");
    background-repeat: no-repeat;
    background-size: 50px;
    border-radius: 50%;
    transition: 0.5s;
}
  
#myBtn:hover {
    transform: scale(1.2);
}
  



@media (max-width: 767px) {
    .services .main-card {
        width: 100%;
        margin-bottom: 0;
    }

    .services aside {
        margin-top: 0;
        margin-bottom: 70px;
    }

    .instagram-card {
        order: 1;
    }
    .instagram-description {
        order: 2;
        
    }
    .facebook-card {
        order: 3;
    }
    .facebook-description {
        order: 4;
    }
    .telegram-card {
        order: 5;
    }
    .telegram-description {
        order: 6;
    }

    .welcome-block a img {
        margin-top: 100px;
    }

    .emoji-bg {
        width: 70px;
        height: 70px;
        background-size: 70px;
    }
    
    .emoji1-bg {
        top: 10%;
        left: 7%;
        background-image: url("../img/emoji1-bg.png");
        animation: appears 3s alternate infinite;
    }
    
    .emoji2-bg {
        top: 20%;
        left: 30%;
        background-image: url("../img/emoji2-bg.png");
        animation: appears 1.2s alternate infinite;
    }
    
    .emoji3-bg {
        top: 85%;
        left: 5%;
        background-image: url("../img/emoji3-bg.png");
        animation: appears 1.8s alternate infinite;
    }
    
    .emoji4-bg {
        top: 95%;
        left: 20%;
        background-image: url("../img/emoji4-bg.png");
        animation: appears 3s alternate infinite;
    }
    
    .emoji5-bg {
        top: 85%;
        left: 80%;
        background-image: url("../img/emoji5-bg.png");
        animation: appears 2.2s alternate infinite;
    }
    
    .emoji6-bg {
        top: 95%;
        left: 65%;
        background-image: url("../img/emoji6-bg.png");
        animation: appears 1.6s alternate infinite;
    }
    
    .emoji7-bg {
        top: 10%;
        left: 60%;
        background-image: url("../img/emoji7-bg.png");
        animation: appears 1.5s alternate infinite;
    }
    
    .emoji8-bg {
        top: 20%;
        left: 80%;
        background-image: url("../img/emoji8-bg.png");
        animation: appears 2s alternate infinite;
    }
}

@media (max-width: 1200px) {
    .viber-desktop {
        display: none;
    }
}

@media (min-width: 1200px) {
    .viber-desktop {
        display: inline-block;
    }
    .viber-mobile {
        display: none;
    }
}

