body {
    font-size: 16px;
    background-color: #f0efea;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
}

#mainNav {
    position: fixed;
    width: 100%;
    z-index: 99;
    min-height: 75px;
    background-color: #31a2ac !important;
}

#mainNav .logo {
    width: 50px;
}

#mainNav .nav-link {
    color: snow;
    font-size: 19px;
    font-weight: lighter;
}

#mainNav .nav-link:hover {
    color: rgb(150, 198, 226);
}

.advantages {
    padding-top: 200px;
}

.advantages .jumbotron {
    background-color: #d72c16e0;
}

.advantages-group-item {
    background-color: transparent;
    border: none;
}

.service-link {
    color: black;
    font-size: 80px;
}

.service-group img {
    width: 150px;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.service-group .card {
    height: 550px;
}

.service-group table {
    margin: 0 auto;
}

.service-group table td{
    border-bottom: 2px solid black;
    padding: 10px;
}

.reviews .card {
    margin: 0 auto;
}

.reviews img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    height: 200px;
    color: white;
}
